<div class="container mt-5">
  <div class="row custom-wrapper">
    <h2 class="mb-3 text-center">Check Matchups</h2>

    <div class="d-grid">
        <select class="custom-select mb-3"
          (change)="changeTeam1($event.target)">
          <option value="0">Choose Team</option>
          <option *ngFor="let team of teams" [value]="team.id">
            {{ team.name }}
          </option>
        </select>

        <select class="custom-select mb-3"
          (change)="changeTeam2($event.target)">
          <option value="0">Choose Team</option>
          <option *ngFor="let team of teams" [value]="team.id">
            {{ team.name }}
          </option>
        </select>

        <button type="button" (click)="getMatchUps()" class="btn btn-danger btn-lg btn-block">
          Submit
        </button>

      </div>

      <div class="d-grid pt-3" *ngIf="isSubmit">
        <input class="custom-select1 mb-3" type="text" readonly value="{{team1}} - {{team1Wins}} vs {{team2}} - {{team2Wins}}"/>
        <!-- <input class="custom-select1 mb-3"type="text" readonly value="{{team2}} - {{team2Wins}}"/> -->
      </div>

  </div>
</div>
